# 创建图

In [2]:
import pandas as pd
import copy
import json
# 读取轨迹数据
df_traj = pd.read_csv(f'../traj_station_handle/df_0.csv')

# 读取uli_index_dict.json数据
with open(f'/root/autodl-tmp/data/operator0/extra_file/uli_index_dict.json', 'r', encoding='utf-8') as file:
    uli_index_dict = json.load(file)

In [6]:
df_traj.head()

,Unnamed: 0,user,day,trajlen,traj,timestamps
0,39,a8341179bb6cc,20241001,32,"['0-4-128089867', '0-4-126402305', '0-4-126409...","[1727748066, 1727748085, 1727748198, 172774827..."
1,66,a83411893676c,20241005,31,"['0-4-126079489', '0-4-10693890', '0-4-1259274...","[1728104873, 1728104886, 1728104888, 172810489..."
2,112,a834118c36b65,20241003,36,"['0-4-132125662', '0-4-17564055', '0-4-1262261...","[1727920865, 1727920876, 1727920878, 172792129..."
3,152,a834118c43a7a,20241006,62,"['0-4-132211698', '0-4-17285513', '0-4-1728550...","[1728202111, 1728202263, 1728202310, 172820231..."
4,170,a834118c45c96,20241004,31,"['0-4-202709165', '0-4-202709125', '0-4-174882...","[1728039682, 1728039730, 1728039924, 172804008..."

In [10]:
# 定义映射函数
def map_traj_values(traj_list):
    return [uli_index_dict.get(uli, uli) for uli in eval(traj_list)]

# 应用映射函数并创建新列
df_traj['traj_index'] = df_traj['traj'].apply(map_traj_values)

In [11]:
df_traj.head()

,Unnamed: 0,user,day,trajlen,traj,timestamps,traj_index
0,39,a8341179bb6cc,20241001,32,"['0-4-128089867', '0-4-126402305', '0-4-126409...","[1727748066, 1727748085, 1727748198, 172774827...","[2581, 2212, 2237, 1700, 1694, 883, 1362, 756,..."
1,66,a83411893676c,20241005,31,"['0-4-126079489', '0-4-10693890', '0-4-1259274...","[1728104873, 1728104886, 1728104888, 172810489...","[1359, 480, 888, 2895, 1359, 885, 1695, 1698, ..."
2,112,a834118c36b65,20241003,36,"['0-4-132125662', '0-4-17564055', '0-4-1262261...","[1727920865, 1727920876, 1727920878, 172792129...","[3249, 4450, 1780, 4409, 4703, 5859, 3249, 177..."
3,152,a834118c43a7a,20241006,62,"['0-4-132211698', '0-4-17285513', '0-4-1728550...","[1728202111, 1728202263, 1728202310, 172820231...","[3270, 4198, 4195, 493, 4258, 4172, 422, 318, ..."
4,170,a834118c45c96,20241004,31,"['0-4-202709165', '0-4-202709125', '0-4-174882...","[1728039682, 1728039730, 1728039924, 172804008...","[5050, 5047, 4418, 4421, 643, 648, 3574, 894, ..."

In [27]:
import networkx as nx
import numpy as np
import os

def build_graph_from_txt(traj_df):
    # 初始化有向图
    G = nx.DiGraph()
    all_nodes = set()

    # 第一步: 收集所有节点
    for index, row in traj_df.iterrows():
        traj_index = row['traj_index']
        for i in range(len(traj_index)):
            u = traj_index[i]
            all_nodes.add(u)

    # 第二步: 将所有节点添加到图中
    for node in all_nodes:
        G.add_node(node)

    # 第三步: 根据文件内容添加边
    for index, row in traj_df.iterrows():
        traj_index = row['traj_index']
        for i in range(len(traj_index) - 1):
            u, v = traj_index[i], traj_index[i + 1]
            # 检查图中是否已经存在从 u 到 v 的边
            if G.has_edge(u, v):
                # 如果边已经存在, 增加边的权重
                G.edges[u, v]['weight'] += 1
            else:
                # 如果边不存在, 添加新边, 权重初始化为 1
                G.add_edge(u, v, weight=1)

    for node in G.nodes:
        G.add_edge(node, node, weight=1)

    nodelist = G.nodes()
    A = nx.adjacency_matrix(G, nodelist=nodelist)
    np.savetxt(f'/root/autodl-tmp/data/operator0/graph/graph_A.csv', A.todense(), delimiter=',')
    return G

In [28]:
build_graph_from_txt(df_traj)

In [30]:
df = pd.read_csv(f'/root/autodl-tmp/data/operator0/graph/graph_A.csv')

# 检查所有值是否都为0
all_zero = (df == 0).all().all()

if all_zero:
    print("CSV文件中的所有值都为0")
else:
    print("CSV文件中存在不为0的值")

CSV文件中存在不为0的值