# 从原始数据开始预处理数据，轨迹保留长度为20-100，基站保留次数 > 30

In [ ]:
import pandas as pd

# 读取轨迹数据
df_traj = pd.read_csv(f'/root/autodl-tmp/preprocess_data/original_data/t_dwt_person.csv')
# 读取基站数据
df_bs = pd.read_csv(f'/root/autodl-tmp/preprocess_data/original_data/t_dwt_uli_new_20250207.csv')

In [24]:
print(df_bs.shape[0])

43456

In [25]:
df_traj.head()

        c_number          c_uli   c_timestamp       c_day
0  a83411464ae86  1-4-178293763  1.728301e+09  20241007.0
1  a83411464ae86  1-4-178293770  1.728302e+09  20241007.0
2  a83411464ae86  1-4-178555139  1.728301e+09  20241007.0
3  a83411464ae86  1-4-178555148  1.728302e+09  20241007.0
4  a83411464ae86  1-4-178964740  1.728302e+09  20241007.0

In [20]:
# 统计c_uli列中每个值出现的次数
count_result = df_traj['c_uli'].value_counts()

# 筛选出出现次数≥30的值
filtered_result = count_result[count_result >= 30]

# 在df_traj中筛选出c_uli列的值在filtered_values中的行
df_traj = df_traj[df_traj['c_uli'].isin(filtered_result)]

In [22]:
df_traj.head()

Empty DataFrame
Columns: [c_number, c_uli, c_timestamp, c_day]
Index: []