# 创建图

In [1]:
import pandas as pd
import copy
import json
# 读取轨迹数据
df_traj = pd.read_csv(f'../traj_station_handle/df_1.csv')

# 读取uli_index_dict.json数据
with open(f'/root/autodl-tmp/data/operator0/extra_file/uli_index_dict.json', 'r', encoding='utf-8') as file:
    uli_index_dict = json.load(file)

In [2]:
df_traj.head()

,Unnamed: 0,user,day,trajlen,traj,timestamps
0,0,a834114368c86,20241001,37,"['1-4-188065331', '1-4-178850055', '1-4-178730...","[1727784045, 1727784055, 1727784088, 172778409..."
1,1,a834114543b5d,20241007,47,"['1-4-178470403', '1-4-178333441', '1-4-178422...","[1728230521, 1728230563, 1728230678, 172823070..."
2,2,a834114566e99,20241005,32,"['1-4-49946371', '1-4-49946113', '1-4-49945604...","[1728117651, 1728117684, 1728117746, 172811780..."
3,3,a8341145bbdd6,20241004,36,"['1-4-179193858', '1-4-178279427', '1-4-178917...","[1728015006, 1728015010, 1728015016, 172801503..."
4,4,a83411464ae86,20241007,32,"['1-4-188067383', '1-4-178295297', '1-4-473629...","[1728299383, 1728299695, 1728299726, 172829991..."

In [3]:
# 定义映射函数
def map_traj_values(traj_list):
    return [uli_index_dict.get(uli, uli) for uli in eval(traj_list)]

# 应用映射函数并创建新列
df_traj['traj_index'] = df_traj['traj'].apply(map_traj_values)

In [4]:
df_traj.head()

,Unnamed: 0,user,day,trajlen,traj,timestamps,traj_index
0,0,a834114368c86,20241001,37,"['1-4-188065331', '1-4-178850055', '1-4-178730...","[1727784045, 1727784055, 1727784088, 172778409...","[1-4-188065331, 1-4-178850055, 1-4-178730514, ..."
1,1,a834114543b5d,20241007,47,"['1-4-178470403', '1-4-178333441', '1-4-178422...","[1728230521, 1728230563, 1728230678, 172823070...","[1-4-178470403, 1-4-178333441, 1-4-178422283, ..."
2,2,a834114566e99,20241005,32,"['1-4-49946371', '1-4-49946113', '1-4-49945604...","[1728117651, 1728117684, 1728117746, 172811780...","[1-4-49946371, 1-4-49946113, 1-4-49945604, 1-4..."
3,3,a8341145bbdd6,20241004,36,"['1-4-179193858', '1-4-178279427', '1-4-178917...","[1728015006, 1728015010, 1728015016, 172801503...","[1-4-179193858, 1-4-178279427, 1-4-178917378, ..."
4,4,a83411464ae86,20241007,32,"['1-4-188067383', '1-4-178295297', '1-4-473629...","[1728299383, 1728299695, 1728299726, 172829991...","[1-4-188067383, 1-4-178295297, 1-4-47362995, 1..."

In [8]:
import networkx as nx
import numpy as np
import os

def build_graph_from_txt(traj_df):
    # 初始化有向图
    G = nx.DiGraph()
    all_nodes = set()

    # 第一步: 收集所有节点
    for index, row in traj_df.iterrows():
        traj_index = row['traj_index']
        for i in range(len(traj_index)):
            u = traj_index[i]
            all_nodes.add(u)

    # 第二步: 将所有节点添加到图中
    for node in all_nodes:
        G.add_node(node)

    # 第三步: 根据文件内容添加边
    for index, row in traj_df.iterrows():
        traj_index = row['traj_index']
        for i in range(len(traj_index) - 1):
            u, v = traj_index[i], traj_index[i + 1]
            # 检查图中是否已经存在从 u 到 v 的边
            if G.has_edge(u, v):
                # 如果边已经存在, 增加边的权重
                G.edges[u, v]['weight'] += 1
            else:
                # 如果边不存在, 添加新边, 权重初始化为 1
                G.add_edge(u, v, weight=1)

    for node in G.nodes:
        G.add_edge(node, node, weight=1)

    nodelist = G.nodes()
    A = nx.adjacency_matrix(G, nodelist=nodelist)
    np.savetxt(f'/root/autodl-tmp/data/operator1/graph/graph_A.csv', A.todense(), delimiter=',')
    return G

In [9]:
build_graph_from_txt(df_traj)

In [10]:
df = pd.read_csv(f'/root/autodl-tmp/data/operator1/graph/graph_A.csv')

# 检查所有值是否都为0
all_zero = (df == 0).all().all()

if all_zero:
    print("CSV文件中的所有值都为0")
else:
    print("CSV文件中存在不为0的值")

CSV文件中存在不为0的值